* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 40px;

    font-family: Arial, sans-serif;

    background: #f4f6f8;
}

.container {
    max-width: 800px;
    margin: auto;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

input {
    flex: 1;

    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    border: none;
    border-radius: 6px;

    padding: 10px 16px;

    color: white;
    background: #2563eb;

    cursor: pointer;
}

.task {
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 20px;

    margin-bottom: 15px;

    background: white;

    border-radius: 8px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, .08);
}

.completed {
    text-decoration: line-through;
    color: #777;
}

.delete {
    background: #dc2626;
}
